*{
    margin: 0px;
    padding: 0px;

}

.calc{
    
    height: 550px;
    width: 450px;
    background-color: #222831;
    border-radius: 60px;
    margin-top: 150px;
    margin-left: 50px;
    padding: 30px;

}

.display{
    height: 100px;
    width: 450px;
    background-color: whitesmoke;
    border-radius: 20px;

}

#dis{
    height: 90px;
    width: 440px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: none;
    font-size: 70px;
    font-family:monospace;
    font-weight: lighter;
    padding: 5px;
    cursor: pointer;
    text-align: right;
}


.buttons{
    margin-top: 100px;
    padding: 10px;
    display: grid;
    grid-template-columns: 250px 200px;
    grid-template-rows: 315px;
    gap: 10px;
    background-color:cornflowerblue;
    border-radius: 20px;

}


.keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.key button{
    background-color: antiquewhite;
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
    border-radius: 10px;
}

.operations{
    display: grid;
    grid-template-columns: 75px 75px;
    grid-template-rows: 75px 75px 75px 75px;
    gap: 4px;
    padding-left: 11px;
}

.oper button{
    background-color: orange;
}

#enter_key{
    width: 160px;
}